<template>
  <v-container fluid>
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-row>
      <v-col cols="12" xl="2" lg="2" md="4" sm="5">
        <h2>Фильтр проектов</h2>
        <v-text-field
          v-model="search"
          label="Поиск"
          clearable
          @keyup.enter="filterApply()"
        >
          <v-icon slot="append"> mdi-magnify </v-icon>
        </v-text-field>
        <v-autocomplete
          label="Платформы"
          :items="platforms"
          item-value="id"
          item-text="name"
          multiple
          v-model="platformsFilter"
          clearable
          auto-select-first
        ></v-autocomplete>
        <v-autocomplete
          label="Типы"
          :items="types"
          item-value="id"
          item-text="name"
          multiple
          v-model="typesFilter"
          clearable
        ></v-autocomplete>

        <v-autocomplete
          label="Менеджер"
          :items="managers"
          item-value="id"
          item-text="name"
          v-model.number="managersFilter"
          clearable
        ></v-autocomplete>

        <v-autocomplete
          label="Сейлз"
          :items="sales"
          item-value="id"
          item-text="name"
          v-model="salesFilter"
          clearable
        ></v-autocomplete>

        <v-autocomplete
          label="Вертикаль"
          :items="categories"
          item-value="id"
          item-text="name"
          v-model="categoriesFilter"
          clearable
        ></v-autocomplete>

        <v-btn color="primary" @click="filterApply()" class="mt-2 mb-2 mr-2"
          >Применить фильтры</v-btn
        >
        <v-btn color="primary" @click="filterReset" class="mt-2 mb-2"
          >Сбросить фильтры</v-btn
        >
      </v-col>
      <v-col>
        <v-row>
          <v-col
            cols="12"
            xl="3"
            lg="3"
            md="6"
            sm="12"
            v-for="item in projects"
            :key="item.id"
          >
            <ProjectCard :item="item" />
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row justify="center" align="center">
      <v-pagination
        v-model="projectsPagination.page"
        total-visible="8"
        :length="projectsPagination.pages"
      ></v-pagination>
      <v-col cols="2">
        <v-select
          :items="itemPrePageChoice"
          v-model="itemPerPage"
          label="Проектов на странице"
        ></v-select>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from 'vuex';
import ProjectCard from '@/components/ProjectCard';

export default {
  name: 'ProjectsListView',
  components: {
    ProjectCard,
  },
  data: () => ({
    itemPrePageChoice: [16, 25, 50, 100],
    search: '',
    filterDialog: false,
    platformsFilter: [],
    typesFilter: [],
    managersFilter: null,
    categoriesFilter: null,
    salesFilter: null,
    loading: false,
  }),
  created() {
    const queryString = this.$route.params.queryString;
    this.parseQueryString(queryString);
    this.filterApply(queryString);
  },
  methods: {
    async getProjectsList(queryString = this.queryString || '') {
      this.loading = true;
      try {
        await this.$store.dispatch('projects/getProjectsList', queryString);
      } catch {
        this.page = 1;
      } finally {
        this.loading = false;
      }
    },
    filterApply(queryString = this.queryString || '') {
      if (this.$route.path !== `/${queryString}`) {
        this.page = 1;
        this.$router.push({ name: 'main', params: { queryString } });
      }
      this.getProjectsList();
    },
    filterReset() {
      this.search = '';
      this.filterDialog = false;
      this.platformsFilter = [];
      this.typesFilter = [];
      this.managersFilter = null;
      this.categoriesFilter = null;
      this.salesFilter = null;
      this.loading = false;
      this.parseQueryString();
      this.filterApply();
    },
    parseQueryString(queryString) {
      const searchParams = new URLSearchParams(queryString);
      const filterFields = {
        search: 'search',
        manager: 'managersFilter',
        category: 'categoriesFilter',
        sales: 'salesFilter',
        platform: 'platformsFilter',
        type: 'typesFilter',
      };

      [...searchParams.entries()].forEach(([key, value]) => {
        if (['platform', 'type'].findIndex((item) => item === key) === -1) {
          if (key === 'search') this[filterFields[key]] = String(value);
          else this[filterFields[key]] = Number(value);
        } else {
          if (value) this[filterFields[key]].push(Number(value));
        }
      });
    },
  },
  computed: {
    ...mapState({
      projects: (state) => state.projects.projects,
      platforms: (state) => state.projects.platforms,
      types: (state) => state.projects.types,
      managers: (state) => state.projects.managers,
      categories: (state) => state.projects.categories,
      sales: (state) => state.projects.sales,
      projectsPagination: (state) => state.projects.projectsPagination,
    }),
    queryString() {
      const searchParams = new URLSearchParams();
      this.platformsFilter.forEach((item) =>
        searchParams.append('platform', item)
      );
      this.typesFilter.forEach((item) => searchParams.append('type', item));
      if (this.search) {
        searchParams.append('search', this.search);
      }

      if (this.managersFilter) {
        searchParams.append('manager', this.managersFilter);
      }

      if (this.categoriesFilter) {
        searchParams.append('category', this.categoriesFilter);
      }

      if (this.salesFilter) {
        searchParams.append('sales', this.salesFilter);
      }

      return searchParams.toString();
    },
    page: {
      get() {
        return this.projectsPagination.page;
      },
      set(newValue) {
        this.$store.commit('projects/setPage', newValue);
      },
    },
    itemPerPage: {
      get() {
        return this.projectsPagination.itemPerPage;
      },
      set(newValue) {
        this.$store.commit('projects/setItemPerPage', newValue);
      },
    },
  },
  watch: {
    page() {
      this.getProjectsList();
      window.scrollTo(0, 0);
    },
    itemPerPage() {
      this.getProjectsList();
    },
  },
};
</script>

<style scoped></style>
