<template>
  <v-container>
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-row>
      <v-col>
        <v-btn @click="$router.back(-1)" color="primary">Вернуться назад</v-btn>
        <h1 v-if="project.product">{{ project.product }}</h1>
        <p v-if="project.client">Клиент: {{ project.client }}</p>
        <p v-if="project.startDate">Дата старта: {{ project.startDate }}</p>
        <p v-if="project.description">{{ project.description }}</p>

        <p v-if="project.platform.length > 0">
          <span v-if="project.platform.length === 1">Платформа:</span>
          <span v-else>Платформы:</span>
          <v-btn
            small
            rounded
            v-for="(item, index) in project.platform"
            :key="index"
            class="ma-2"
            color="purple"
            dark
            :to="`/platform=${item.id}`"
          >
            {{ item.name }}
          </v-btn>
        </p>

        <p v-if="project.type.length > 0">
          <span v-if="project.type.length === 1">Тип проекта:</span>
          <span v-else>Типы проекта:</span>
          <v-btn
            v-for="(item, index) in project.type"
            :key="index"
            :to="`/type=${item.id}`"
            class="ma-2"
            color="purple"
            dark
            small
            rounded
          >
            {{ item.name }}
          </v-btn>
        </p>
        <p v-if="project.manager">
          Менеджер:
          <v-btn
            rounded
            small
            class="ma-2"
            color="primary"
            :to="`/manager=${project.manager.id}`"
          >
            <v-icon left>mdi-account-circle-outline</v-icon>
            {{ project.manager.name }}
          </v-btn>
        </p>
        <p v-if="project.sales">
          Сейлз:
          <v-btn
            rounded
            small
            class="ma-2"
            color="primary"
            label
            :to="`/sales=${project.manager.id}`"
          >
            <v-icon left>mdi-account-circle-outline</v-icon>
            {{ project.sales.name }}
          </v-btn>
        </p>
        <div v-if="project.url">
          <v-divider />
          <v-btn
            class="mt-2"
            color="primary"
            :href="project.url"
            target="_blank"
          >
            Ссылка на проект
            <v-icon>mdi-open-in-new</v-icon>
          </v-btn>
          <p class="mt-2 project-detail-url grey--text">{{ project.url }}</p>
          <v-divider />
        </div>
        <div v-if="project.jiraUrl">
          <v-btn
            class="mt-2"
            color="primary"
            :href="project.jiraUrl"
            target="_blank"
          >
            JIRA URL
            <v-icon>mdi-open-in-new</v-icon>
          </v-btn>
          <p class="mt-2 project-detail-url grey--text">
            {{ project.jiraUrl }}
          </p>
          <v-divider />
        </div>
        <p v-if="project.category">
          <span>Вертикаль:</span>
          <v-btn
            :to="`/category=${project.category.id}`"
            class="ma-2"
            color="primary"
            dark
            small
            rounded
          >
            {{ project.category.name }}
          </v-btn>
        </p>
        <p v-if="project.budget">Бюджет: {{ project.budget }}</p>
        <p v-if="project.caseUrl">Ссылка на кейс: {{ project.caseUrl }}</p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'ProjectDetailView',
  data: () => ({
    loading: true,
  }),
  async created() {
    try {
      await this.$store.dispatch('projects/getProject', this.$route.params.id);
    } catch {
      this.$router.go(-1);
      this.$toast.open({
        type: 'error',
        message: 'Возникла ошибка! Обратитесь к администратору.',
      });
    } finally {
      this.loading = false;
    }
  },
  computed: {
    ...mapState({
      project: (state) => state.projects.project,
    }),
  },
};
</script>

<style lang="sass">
.project-detail-url
  font-size: 12px
</style>
