<template>
  <v-card elevation="3" shaped outlined :loading="loading">
    <v-card-text>
      <v-card-title> Войдите </v-card-title>
      <v-form ref="form">
        <v-text-field
          v-model="credentials.email"
          label="E-mail"
          type="email"
          :rules="emailRules"
          required
        />
        <v-text-field
          v-model="credentials.password"
          label="Пароль"
          :rules="passwordRules"
          type="password"
          required
          @keyup.enter="login"
        />
        <v-btn @click="login" color="primary">Войти</v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'LoginForm',
  data: () => ({
    loading: false,
    credentials: {
      email: '',
      password: '',
    },
    emailRules: [
      (v) => !!v || 'Введите E-mail',
      (v) => /.+@.+\..+/.test(v) || 'Введите корректный E-mail',
    ],
    passwordRules: [(v) => !!v || 'Введите пароль'],
  }),
  methods: {
    async login() {
      const form = this.$refs.form;
      if (form.validate()) {
        this.loading = true;
        try {
          await this.$store.dispatch('auth/login', this.credentials);
          form.reset();
          this.$router.push({ name: 'main' });
        } catch (e) {
          this.$toast.open({
            type: 'error',
            message: e.response.data.detail,
          });
        } finally {
          this.loading = false;
        }
      }
    },
  },
};
</script>

<style scoped></style>
