<template>
  <v-card @click="$router.push(`/projects/${item.id}/`)" height="100%">
    <v-card-title>{{ item.product }} </v-card-title>
    <v-card-subtitle>
      {{ item.client }}
      <p v-if="item.sartDate">
        Дата старта: <b>{{ item.startDate }}</b>
      </p>
    </v-card-subtitle>
    <v-card-text>
      <p v-if="item.manager">
        Менеджер: <b>{{ item.manager }}</b>
      </p>
      <p v-if="item.sales">
        Сейлз: <b>{{ item.sales }}</b>
      </p>
      <p v-if="item.category">
        Вертикаль: <b>{{ item.category }}</b>
      </p>
      <v-card-actions>
        <v-btn
          color="blue lighten-4"
          block
          v-if="item.url"
          @click.stop
          :href="item.url"
          target="_blank"
        >
          Ссылка на проект
          <v-icon>mdi-open-in-new</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'ProjectCard',
  props: {
    item: Object,
  },
};
</script>

<style scoped></style>
