<template>
  <v-app>
    <v-app-bar app v-if="isAuth">
      <v-toolbar-title>Проекты СберСеллер</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-icon>mdi-account-circle</v-icon>
      <div>{{ email }}</div>
      <v-btn icon @click="$store.dispatch('auth/logout')">
        <v-icon>mdi-exit-to-app</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'App',
  async created() {
    if (this.$route.name !== 'login') {
      try {
        await this.$store.dispatch('auth/checkUser');
        this.getInitialData();
      } catch (e) {
        this.$toast.open({
          type: 'error',
          message: 'Войдите в систему',
        });
      }
    }
  },
  methods: {
    getInitialData() {
      this.$store.dispatch('projects/getPlatforms');
      this.$store.dispatch('projects/getTypes');
      this.$store.dispatch('projects/getManagers');
      this.$store.dispatch('projects/getCategories');
      this.$store.dispatch('projects/getSales');
    },
  },
  computed: {
    ...mapState({
      isAuth: (state) => state.auth.isAuth,
      email: (state) => state.auth.email,
    }),
  },
  watch: {
    isAuth(value) {
      if (value) {
        this.getInitialData();
      } else {
        this.$router.push({ name: 'login' });
      }
    },
  },
};
</script>
<style lang="sass">
.v-toast
  font-family: "Roboto", sans-serif
</style>
