<template>
  <v-container>
    <v-overlay z-index="0"></v-overlay>
    <v-row justify="center">
      <v-col xl="3" lg="4" md="5" sm="6" cols="12" class="mt-16">
        <LoginForm />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import LoginForm from '@/components/LoginForm';

export default {
  name: 'LoginView',
  components: {
    LoginForm,
  },
  beforeCreate() {
    if (this.$store.state.auth.isAuth) {
      this.$router.push({ name: 'main' });
    }
  },
  watch: {
    'this.$store.state.auth.isAuth': {
      handler(value) {
        if (value) this.$router.push({ name: 'main' });
      },
    },
  },
};
</script>
